.title {
    &--main {
        @include typo-title(55px);
    }
    &--sub {
        @include typo-title(40px);
    }

    &--small {
        @include typo-title(24px);
    }
}

.lead {
    @include typo(18px);
}

p,
li,
a {
    @include typo(16px);
    color: $grey;
    line-height: 1.7;
}

p {
    margin-bottom: 20px;
}
